<table class="table table-striped" >
    <tr>
        <th style="text-align: center;">ID</th>
        <th style="text-align: center;">jobTitle</th>
        <th style="text-align: center;">Max Salary</th>
        <th style="text-align: center;">Min Salary</th>
        <th colspan="3" style="text-align: center;">Actions</th>

    </tr>
    <tr ng-repeat="job in jobs">
        <td class="text-center">
            {{job.jobId}}
        </td>
        <td class="text-center">
            {{job.jobTitle}}
        </td>
        <td class="text-center">
            {{job.maxSalary}}
        </td>
        <td class="text-center">
            {{job.minSalary}}
        </td>
        <!--TODO add View button-->
        <td class="text-center">
            <button type="button" class="btn btn-link" ng-click="viewJob(job.jobId)">View</button>
            <!--TODO#HR6-->
        </td>
        <td class="text-center">
            <button type="button" class="btn btn-link" ng-click="editJob(job.jobId)">Edit</button>
            <!--TODO#HR6-->
        </td>
        <td class="text-center">
            <button type="button" class="btn btn-link" ng-click="deleteJob(job.jobId)">Delete</button>
            <!--TODO#HR6-->
        </td>
    </tr>
</table>
