<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Edit employee <b>{{employee.firstName}} {{employee.lastName}}</b></h2>
    </div>
    <div class="panel-body">
        <ng-form name="locationEditForm">
            <!--TODO#HR7-->
            <div class="row">
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': locationEditForm.locationId.$invalid }">
                        <!--TODO#HR2-->
                        <label for="locationId">Location Id:</label>
                        <input type="text" class="form-control" id="locationId" name="locationId" ng-model="location.locationId" required>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': locationEditForm.city.$invalid }">
                        <!--TODO#HR2-->
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" name="city" ng-model="location.city" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': locationEditForm.postalCode.$invalid }">
                        <!--TODO#HR2-->
                        <label for="postalCode">Postal Code</label>
                        <input type="text" class="form-control" name="postalCode" id="postalCode" ng-model="location.postalCode" required>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': locationEditForm.stateProvince.$invalid }">
                        <!--TODO#HR2-->
                        <label for="stateProvince">State Province</label>
                        <input type="text" class="form-control" name="stateProvince" id="stateProvince" ng-model="location.stateProvince" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': locationEditForm.streetAddress.$invalid }">
                        <!--TODO#HR2-->
                        <label for="streetAddress">Street Address</label>
                        <input type="text" class="form-control" name="streetAddress" id="streetAddress" ng-model="location.streetAddress" required>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-7">
                    <div class="container">
                        <a class="btn btn-lg btn-primary" ng-click="create(location)" ng-disabled="locationEditForm.$invalid">Save</a>
                        <a class="btn btn-lg btn-primary" ng-click="reset()">Reset</a>
                        <!--TODO#HR4-->
                    </div>
                </div>
            </div>
        </ng-form>
    </div>
</div>